# do not push the virtual env
env/

# API keys
_noCommit_*

# exclude all compiled python files
*.pyc

# exclude databases
*.db

# ignore specified ref stuff and notes to self
ref_fromMelonApp
spitcast_ref.txt
todo_*.txt