/* css style sheet for base.html and pages inheriting from base */

/* navbar logo image scale and placement */
div.navbar-header img {
    width: 50px;
    float: left;
    margin-top: 7px;
    margin-right: 7px;
    z-index: -15px;
}

/* navbar links placement */
.navbar-right {
    margin-right: 7px;
}

/* sub-navbar links and messages */
#nav-lower{
    height: 25px;
    background-color: DimGray;
}

.nav-lower-text, .nav-lower-text a{
/*    color: #3EAFBE;  
*/
  color: #7EC0C9;
}

/* sub-navbar flashed messages */
#flashes-main{
    float: right;
    font-weight: bold;
    color: #FF8629;
    min-height: 0px; 
    margin-bottom: 0px; 
}

/*  main page-wrapper: container-fluid class */
.container-fluid{
  padding-right: 46px;
  padding-left: 46px;
}

/*  put content in reduced opacity container */
.content-container {
  background-color:rgba(200, 200, 200, .75);
  padding:1.5%;
  margin-bottom:50px;
}


/*  table hover styling */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(62,175,190,.5);
/*  background-color: #3EAFBE;
*/
/*  background-opacity: .1;
*/
}

/* entries summary buttons */
.btn-primary {
  background-color: #007C7D;
}

.btn-primary:hover{
    background: rgb(62, 175, 190);
}

/* icons for boards on entry details page */
.icon-board img { 
  height: 150px;
}

/* icons for boards on quiver page */
.icon-board-sm img { 
  height: 75px;
}

/* page bottom credit to magicseaweed */
.msw { 
    float: right; 
    text-align: right;
    margin-top: 0 px;
    margin-bottom: 15px; 
    margin-right: 7px; 
}

.msw img { 
    float: right; 
/*    width: 150 px;
*/    
    margin-top: 7px;
    margin-right: 7px; 
}


/* bootstrap grid row formatting */
.title-center{
  text-align: center;
}

#entry-form-rating-overall{
  margin-top:50px;
  margin-bottom:25px;
}

#entry-form-ratings-specific{
  margin-top:75px;
  margin-bottom:10px;
}

#entry-notes-input{
  margin-top:20px;
}

#entry-form-submit{
  margin-top:20px;
}

#quiver-form-submit{
  margin-top:75px;
  margin-left:200px;
}

.col-md-10 col-board{
  align-items: center;
}

/* add entry form formatting */

/* button add board to quiver */
#board-add{
   float: right; 
}

/* entry details MSW info table */
.table-nonfluid {
   width: auto !important;
}

/*
need to demystify everything below this line
*/

/*
not sure this is in use
*/
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {

  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper-inner {

  display: table-cell;
  vertical-align: top;
}

/*
not sure this is in use
*/
/*.cover-container {
  background-color: Green;
  margin-right: auto;
  margin-left: auto;
}*/

/*
not sure this is in use
*/
/* Padding for spacing */
/*.inner {
  padding: 30px;
}*/
 



/*
need to clean up unused stuff
*/

/* log-in/ register forms */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
/* not sure what "checkbox" is doing or if it's in use */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
/* not sure if z-index is in use for form control? check login page */
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: 10px;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
