{% extends 'base.html' %}
{% block body %}

    {% block bg %}
    <style>
        body {
            background: url("../static/img/bg_compass.png") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-position: bottom; 
            background-position-y: 15%;
        }

    </style>
    {% endblock %}


<div class="content-container">


	<h2>
		Welcome to the Ocean Riders' Journal
	</h2>

	<p>
	Ocean Rider’s Journal is a place for Northern and Central California surfers to record their time in the ocean. The journal collects swell and wind data based on time and location, and combines it with subjective user ratings to visually graph the best conditions for the user to develop a keener sense of what conditions work best for them at their favorite spots.
	</p>


	<h4>About the Ocean Riders' Journal</h4>

	<p>
	Ocean Rider’s Journal uses a Python controller and a Flask web framework. The SQLite database collects information provided by users about their surf sessions, the boards they ride, and the wind and swell conditions at the time of each journal entry. Weather data is gathered from the magicseaweed.com API. 
	</p>

	<p>
	Weather data is gathered from <a href="http://magicseaweed.com/developer/api">the magicseaweed API.</a> Thanks to <a href="http://www.juniorbill.com">Junior Bill</a> for lending me his classic surboard artwork for the quiver icons.
	</p>

	<h3>
	<a href="http://www.linkedin.com/in/kborges">Connect with the developer</a>
	</h3>


</div>

{% endblock %}
