<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/msw_arrowSprites.css" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <img src="/static/img/temp_logo.jpg"><a class="navbar-brand" href="/">OceanLogNameHere</a>
                </div>
                <div class="navbar-collapse collapse" >
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/about">Home/ About</a></li>               
                        <li><a href="/login">Log In/ Register</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>

            </div>
        </div>

<!-- 
want to show log-in/ log-out buttons only if not alread logged in/ out
below seems to work for logout, but crashes at splash page enter button.
 -->     
            {#
                        {% if not session.user_id %}
                           <li> <a href="{{ url_for('login') }}">Log In/ Register</a></li> 
                        {% else %}
                           <li> <a href="{{ url_for('logout') }}">Log Out</a></li> 
                        {% endif %}              
            #}

<!-- show flashed messages just under navbar -->
        <div class="inner cover">
            <div class="btn-group btn-group-sm">
                <a href="/entries" class="btn btn-primary navbar-btn">view existing entries</a>
                <a href="/addEntryForm" class="btn btn-primary navbar-btn">create a new entry</a>
                <a href="/board_quiver" class="btn btn-primary navbar-btn">view/ edit quiver</a>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <h3 class="flashes">{{message}}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        </div>


        <div class="container">

            {% block body %}{% endblock %}
            {% block giantList %}{% endblock %}

        </div>
    </body>
</html>
