<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <img src="/static/img/temp_logo.jpg"><a class="navbar-brand" href="/">OceanLogNameHere</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
<!--                         <li><a href="/cart"><img class="melon-cart" src="watermelon.png"> My Melon Cart</a></li> -->
                        <li><a href="/login">Log In</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="inner cover">
            <a href="/entries" class="btn btn-lg btn-default">view existing entries</a>
            <a href="/addEntryGoTo" class="btn btn-lg btn-default">create a new entry</a>
            <a href="/board_quiver" class="btn btn-lg btn-default">view/ edit quiver</a>
            <a href="/about" class="btn btn-lg btn-default">back to home/ about page</a>
        </div>
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="flashes">
                <li>{{message}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
            {% block giantList %}{% endblock %}

        </div>
    </body>
</html>
