{% extends 'base.html' %}
{% block body %}

<div id="entries-list">
<!-- see all_melons.html for scaffold on how to pull 
and display info from the database
 -->

<h2>(display/edit existing boards and add new boards)</h2>



<h4>core info to include:</h4>
<li>nickname</li>
<li>length (in x&#39; x&#34;)</li>
<li>brand/ shaper</li>
<li>custom?</li>

<h4>Additional features:</h4>
<li>photo(s) of board</li>
<li>set as default board?</li>
<li>mark as borrowed/ who does it belong to?</li>
<li>mark board as retired?</li>
<li>field for specific measurements</li>
<li>field for serial #</li>
<li></li>
<li></li>
<li></li>
<h4>extra bonus options:</h4>
<li>link back to session view and display all sessions using that board?</li>


</div>

{% endblock %}