{% extends 'base.html' %}
{% block body %}

    {% block bg %}
    <style>
        body {
             background: url("../static/img/bg_quiver.png") no-repeat center center fixed; 
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
              background-position-y: 15%;
        }

    </style>
    {% endblock %}

<div class="content-container">
    <h2>{{username}}'s Quiver:</h2>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            	<tr>
                    <th></th>
                	<th>Board's nickname</th>
                	<th>Length</th> 
                    <th>Type</th>
                    <th>Shaper</th>
                    <th>Model</th>
                	<th>Fin Setup</th>

              	</tr>
            </thead>
             
            <tbody>
                {% for board in boards %}
            	<tr>
                    <td>
                        <div class="icon-board-sm">
                            <img src="/static/img/icon_board_{{board.category}}_sm.png" title="{{board.category}}"></a>
                        </div>
                    </td>    
                	<td>{{board.nickname}} </td>
                    <td>
                    {% if board.length_ft %}
                        {{board.length_ft}}'
                    {% endif %}
                    {% if board.length_in %}
                    	 {{board.length_in}}"
                    {% endif %}
                    </td>
                	<td>{{board.category}}</td>
                	<td>{{board.shaper}}</td>
                	<td>{{board.shape}}</td>
                	<td>{{board.fins}} </td>
                </tr>
        	   {% endfor %}
            </tbody>
        </table>

    </div> <!-- closes quiver table -->
</div> <!-- closes content container: quiver table -->

<div class="content-container">
    <form class="form" action="/addBoardToDB" method="post">

        <div class="row"> <!-- top row -->

                <span class="title-center">
                    <h3>Add a Board to your Quiver:</h3>
                </span>

        </div> <!-- closes top row -->

        <div class="row"> <!-- bot row -->

                <div class="col-md-4"> <!-- left col -->

                    <div class = "form-group">
                        <label for="nickname">Board's nickname:</label>
                        <input type="text" name = "nickname" required maxlength="30" size="30" placeholder="(name your board!)">
                    </div>

                    <div class = "form-group">
                        <label for="category">Board Type:</label>
                        <select name = "category" required>  
                        {% for category in categories %}     
                        <option value="category">{{category}}</option>
                       {% endfor %}
                        </select>
                    </div>


                    <div class = "form-group">            
                    <h5>Length:</h5>
                        <label for="length_ft">feet</label>
                        <input type="text" id = "length_ft" maxlength="2" size="2" placeholder="#"> 
                        <label for="length_in">in.</label>
                        <input type="text" name = "length_in" maxlength="2" size="2"  placeholder="#">
                    </div>

                </div> <!-- closes left col -->


                <div class="col-md-4"> <!-- mid col -->

                    <div class = "form-group">
                        <label for="shaper">Shaper:</label>
                        <input type="text" id = "shaper" maxlength="30" size="30" placeholder="(Shaper's Name)">
                    </div>

                    <div class = "form-group">
                        <label for="fins">Fin Setup:</label>
                        <input type="text" id = "fins" maxlength="30" size="30" placeholder="(2+1, singlefin..?)">      
                    </div>

                </div> <!-- closes mid col -->

                <div class="col-md-4"> <!-- right col -->

                    <div class="row"> <!-- right-top row -->

                        <div class = "form-group">
                            <label for="shape">Model or Description:</label>
                            <input type="text" id = "shape" required maxlength="30" size="30" placeholder="(Superfish, custom..?)">
                        </div>

                    </div> <!-- closes right-top row -->

                    <div class="row"> <!-- right-mid row -->
                        <!-- spacer -->
                    </div> <!-- closes right-mid row -->

                    <div class="row"> <!-- right-bot row -->

                        <div class = "form-group"id = "quiver-form-submit">
                            <input type="submit" value = "Add Board to your Quiver">
                        </div>

                    </div> <!-- closes right-bot row -->


                </div> <!-- closes right col -->

        </div> <!-- closes bot row -->


    </form>

</div> <!-- closes content container: quiver form -->

{% endblock %}