{% extends 'base.html' %}

{% block giantList %}
<div id = "giantList">
<h2>all the potential information for all logged surfs</h2>
<h3>(this info should be moved to an about/ help page at some point)</h3>
<!-- <div id="session-list">
 --><!-- see all_melons.html for scaffold on how to pull 
and display info from the database
 -->
<ul>
<li>Whether you surfed or just observed</li>
<li>(notes: if not then why)</li>
<li></li>
<li>(optional) Photos: with option to get location info from photo metadata</li>
<li>(notes: time of photo relative to time of surf? </li>
<li></li>
<li>Location</li>
<li>(notes: specific part of beach?)</li>
<li>Date/ time/ duration</li>
<li>(optional) tag this session as part of a trip</li>
<li></li>
<li>Observed wave height: both average and max</li>
<li>Observed wave quality</li>
<li>(notes or rating: comfort level and enjoyment of wave size and quality?)</li>
<li></li>
<li>Crowd density</li>
<li>Crowd vibe</li>
<li>Who you surfed with, if anyone</li>
<li>(notes on crowd/ company?)</li>
<li></li>
<li>Board ridden: option to add board to stored quiver from here</li>
<li>(expandable in case of multiple boards in a session)</li>
<li>(notes or rating on whether board felt right for the conditions)</li>
</ul>

<h4>(notes fields and/or ratings for super subjective stuff)</h4>
<ul>
<li>mood: before, during, and after</li>
<li>fitness level, relative to conditions</li>
<li>other factors: hunger, sleep, hangover, ladystuff, injuries, etc</li>
<li>general notes on the session</li>

</ul>

<h4>(fields to be generated here based on date, time, and location)</h4>
<ul>
<li>Tides: height and state</li>
<li>Swell height (primary and up to 2 others)</li>
<li>Swell period (primary and up to 2 others)</li>
<li>Swell direction (primary and up to 2 others)</li>
<li>Wind speed</li>
<li>Wind direction</li>
<li>Air temperature</li>
<li>Water temperature</li>
<li></li>
<li>phase of the moon? (could be interesting to note patterns with tide movement)</li>
</ul>

</div>

{% endblock %}