<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/cover.css">
        <title>Ocean Riders' Journal</title>
        <style>
            body {
                background-image: url("/static/img/temp_waves.jpg");
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
            }

            div.inner.cover img {
                width: 150px;
            }
        </style>
    </head>
    <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
              <img src="/static/img/oceanrider_logo.png">
              <h1 class="cover-heading">Ocean Riders' Journal</h1>
              <p class="lead">placeholder surfer ipsum flotsam jetsam placeholder
              <p class="lead">
              <a href="/about" class="btn btn-lg btn-default">What Do I Do?!</a>
              </p>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <h3 class="flashes">{{message}}</li></h3>
                  {% endfor %}
                {% endif %}
              {% endwith %}
          </div>

          <div class="mastfoot">
            <div class="inner">
                <p>Copyright? **If so, then put Something here about kborg and hackbright**</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    </body>
</html>
