<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/cover.css">
        <title>surf journal: Clever Title TBD</title>
        <style>
            body {
                background-image: url("/static/img/temp_waves.jpg");
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
            }

            div.inner.cover img {
                width: 150px;
            }
        </style>
    </head>
    <body>


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

<!-- I don't know what's going on here, below. this was already commented out
at time of git clone. leaving it for now in case it proves useful-->
<!--
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          -->
          <div class="inner cover">
              <img src="/static/img/temp_logo.jpg">
              <h1 class="cover-heading">Ocean Riders' Journal</h1>
            <p class="lead">placeholder surfer ipsum flotsam jetsam placeholder
            <p class="lead">
            <a href="/sessionsSummary" class="btn btn-lg btn-default">Do Something Now</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
                <p>Copyright? **If so, then put Something here about kborg and hackbright**</p>
            </div>
          </div>

        </div>

      </div>

    </div>
<!-- I don't know what's going on here, below. this was commented out
at time of git clone. leaving it for now in case it proves useful.
seems to be driving a sliding footer. that slides right on top of the copyright
defined in the footer above. why? how? do I care?-->
        <h1>WAT</h1>
        <h4> not sure if I need this code. there was something here, but commented out, in the ubermelon app </h3>
        <h2><a href=https://www.destroyallsoftware.com/talks/wat</a></h2>

    </body>
</html>
