{% extends 'base.html' %}
{% block body %}

<h3>Display all of the previously logged journal entries:</h3>

<table style="width:100%">
<!-- saw examples using table id, and others using class. class is for css, right? -- what's id for? -->
	<tr>
    	<th>Date: start time</th>
    	<th>Which Beach</th>
        <th>Which Spot?</th>
        <th>Swell Direction</th>
        <th>Swell Height/ Interval</th>
        <th>Wind</th>


  	</tr>
 
    {% for entry in entries %}
	<tr>    
    	<td>{{entry.date_time_start.strftime('%m/%d/%Y %I:%m %p')}}</td>
    	<td>{{entry.loc.beach_name}}</td>
        <td>{{entry.spot_name}}</td>
        <td><div class="msw-swa msw-swa-{{entry.swell1_arrow_deg}}"> </div> {{entry.swell1_dir_deg_global}} {{entry.swell1_dir_comp}}</td>
        <td>{{entry.swell1_ht}} @ {{entry.swell1_per}} sec</td>
        <td><div class="msw-ssa msw-ssa-{{entry.wind_arrow_deg}}"> </div> {{entry.wind_speed}} ({{entry.wind_gust}})</td>
        <td><a class="btn btn-primary" href="/entryDetails/{{entry.id}}">Details</a></td>
    </tr>


	{% endfor %}
</table>
<br>
<br>

<!-- 
test msw swell arrow sprite:
 -->
<!-- <div class="msw-swa msw-swa-215"> </div>
 -->

<!-- MVP and stretch goal list, style-->
<br>
<br>
<h4>core styling tasks to do:</h4>

<li><strike>scale table elements, getting crowded</strike></li>
<li>&#10004; split entry display into summary and details pages</li>
<li>&#10004; fix datetime format to display more human-readably</li>
<li>&#10004; display beach name (get from loc_id)</li>
<li>&#10004; get MSW graphics (arrows) to add to swell dir display</li>
<li>&#10004; get swell dir_deg convert from MSW format to global for display </li>
<li>&#10004; get converted swell dir_deg rounded to nearest 5 deg to get correct arrow</li>
<li>&#10004; fix getting same arrows for swell and wind</li>
<br>

<!-- MVP and stretch goal list, functionality-->

<h4>core functionality todo:</h4>
<li>&#10004; simple list synopsis of all sessions</li>
<li>&#10004; ability to jump to details page for any session</li>
<br>
<br>
<h4>Additional features:</h4>
<li>ability to edit a previously entered session?</li>
<li>ability to dynamically expand view for each session (instead of going to details page)</li>
<li>ability to sort/ filter by various fields (date, board, wavesize, location, friend, swell dir)</li>
<br>
<br>
<h4>extra bonus options:</h4>
<li>pull a screengrab from surfline's video feed from that day and time????</li>
<li>link back to "add entry" with some info seeded from currently selected entry?</li>
(ie "create new entry like this one")
<li>tell user what (nearest) beach's msw is displayed if entry's beach has no msw forecast</li>
<li>additional query/ graphs for end time if duration > n?</li>
<br>
<br>
<a href="http://magicseaweed.com"><img src="http://im-1-uk.msw.ms/msw_powered_by.png"></a>


{% endblock %}


<!-- this is an example from the ratings app that includes the option to link to a "details" page
 -->
<!--     <li><a href="{{url_for("view_movie", id=rating.movie_id)}}">{{rating.movie.title}} &mdash; {{rating.rating}}</a></li>
 --> 
