{% extends 'base.html' %}
{% block body %}
<h2>all logged surfs</h2>

<!-- 

THIS PAGE IS NOW OBSOLETE.

 -->

<h4>
This page will be deprecated in favor of:<br>
surf_entries_summary.html<br>
<br>
but currently the wiring is not working. <br>
currently can only view sessions after adding one.
>>>
"add_entry" route is passing results of db query<br>
to the surf_entries_summary template.<br>
<br>
need to add same functionality to this route.<br>
<br>
or...<br>
remove it from that route,<br>
and make surf_entries_summary <br> 
and surf_entries_list <br>
both point to the same route/ template?
<br>
revisit.
</h4>

<!-- <div id="entries-list">


<!-- see all_melons.html for scaffold on how to pull 
and display info from the database
-->

<h3>Display all of the previously logged sessions</h3>



<h4>core info to include:</h4>
<li>list synopsis of all sessions</li>
<li>ability to edit a previously entered session</li>
<li>ability to jump to details page for any session</li>

<h4>Additional features:</h4>
<li>ability to expand view for each session (instead of going to details page)</li>
<li>ability to sort/ filter by various fields (date, board, wavesize, location, friend, swell dir)</li>

<h4>extra bonus options:</h4>
<li>pull a screengrab from surfline's video feed from that day and time????</li>
<li>link back to any of the other create with some info seeded from current entry?</li>



</div>



{% endblock %}
