{% extends 'base.html' %}
{% block body %}
<h2>all logged surfs</h2>


<div id="entries-list">
<!-- see all_melons.html for scaffold on how to pull 
and display info from the database
 -->

<h3>This is where I will display all of the previously logged sessions</h3>



<h4>core info to include:</h4>
<li>list synopsis of all sessions</li>
<li>ability to edit a previously entered session</li>
<li>ability to jump to details page for any session</li>

<h4>Additional features:</h4>
<li>ability to expand view for each session (instead of going to details page)</li>
<li>ability to sort/ filter by various fields (date, board, wavesize, location, friend, swell dir)</li>

<h4>extra bonus options:</h4>
<li>pull a screengrab from surfline's video feed from that day and time????</li>
<li>link back to any of the other create with some info seeded from current entry?</li>
<!-- <li></li>
<li></li>
<li></li>
<li></li> -->


</div>



{% endblock %}
