{% extends 'giantList_features.html' %}
{% block body %}

<!-- added this to base.html
 --><!-- <div class="inner cover">
<a href="/sessions" class="btn btn-lg btn-default">view existing sessions</a>
<a href="/enterSession" class="btn btn-lg btn-default">create a new entry</a>
</div> -->
<h2>note to self -- this page may go away. this is a place to organize my thoughts
about what info I want to collect and/or display)</h2>
<h3>(or, it may become a home page for the user, maybe with a graphical view of all their logged sessions on a map, with todays conditions?</h3>

<li></li>
<li></li>
<li></li>
{% endblock %}
