{% extends 'base.html' %}
{% block body %}

<link rel="stylesheet" href="/static/css/msw_arrowSprites.css" />

<h3>Displays all detailed of selected surf journal entry:</h3>

<table style="width:100%">
<!-- saw examples using table id, and others using class. class is for css, right? -- what's id for? -->
	<tr>
    	<th>Date: start time</th>
    	<th>Which Beach</th>
        <th>Which Spot?</th>
        <th>Swell Direction</th>
        <th>Swell Height/ Interval</th>
        <th>Wind </th>
    	<th>Which Board?</th>
    	<th>Right Board/ Notes?</th>

  	</tr>
 
	<tr>    
    	<td>{{entry.date_time_start.strftime('%m/%d/%Y %I:%m %p')}}</td>
    	<td>{{entry.loc.beach_name}}</td>
        <td>{{entry.spot_name}}</td>
        <td><div class="msw-swa msw-swa-215"> </div> {{entry.swell1_dir_deg}} {{entry.swell1_dir_comp}}</td>
        <td>{{entry.swell1_ht}} @ {{entry.swell1_per}} sec</td>
        <td><div class="msw-ssa msw-ssa-35"> </div> {{entry.wind_dir_deg}} {{entry.wind_dir_comp}} @ {{entry.wind_speed}} {{entry.wind_unit}}</td>
    	<td>{{entry.board.nickname}} {{entry.board.length_ft}}' {{entry.board.length_in}}" {{entry.board.fins}}</td>
    	{% if entry.board_pref == "ok" %}
            <td>{{entry.board_pref}}
        {% else %}
            <td>wanted {{entry.board_pref}}
        {% endif %}
        {% if entry.board_notes == "None" %}
            </td>
        {% else %}
            : {{entry.board_notes}}</td>
        {% endif %}

    </tr>

</table>
<br>
<br>


<!-- MVP and stretch goal list, style-->
<br>
<br>
<h4>core styling tasks to do:</h4>

<li>&#10004; fix broken conditional in board_pref display</li>
<li>&#10004; fix wording of board pref (in table-to-entry, or entry-to-display?)</li>
<li>fix broken conditional in board_notes display (kill ":" if no notes)</li>
<li>&#10004; get MSW graphics (arrows) to add to swell dir display</li>
<li>&#10004; get MSW graphics (arrows) to add to wind dir display</li>
<li>more info from API(s): wind, other swell, temps, tides</li>
<br>

<!-- MVP and stretch goal list, functionality-->

<h4>core functionality todo:</h4>
<br>
<br>
<h4>Additional features:</h4>
<li>ability to edit a previously entered session?</li>
<li>ability to sort/ filter by various fields (date, board, wavesize, location, friend, swell dir)</li>
<br>
<br>
<h4>extra bonus options:</h4>
<li>pull a screengrab from surfline's video feed from that day and time????</li>
<li>link back to "add entry" with some info seeded from currently selected entry?</li>
(ie "create new entry like this one")
<li>tell user what (nearest) beach's msw is displayed if entry's beach has no msw forecast</li>
<li>additional query/ graphs for end time if duration > n?</li>
<br>
<a href="http://magicseaweed.com"><img src="http://im-1-uk.msw.ms/msw_powered_by.png"></a>


{% endblock %}


